---
import { type CollectionEntry, getCollection } from "astro:content";
import "katex/dist/katex.css";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  lengthClassName="max-w-3xl"
>
  <main>
    <h1 class="mb-2 text-center text-2xl font-medium">
      {post.data.title}
    </h1>
    <p class="mb-1 text-center font-medium text-neutral-400">
      {formatDate(post.data.date)}
    </p>
    <article>
      <Content />
    </article>
  </main>
</Layout>
